<%= form_for(@chapter_element) do |f| %>
  <% if @chapter_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter_element.errors.count, "error") %> prohibited this chapter_element from being saved:</h2>

      <ul>
      <% @chapter_element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
